/* StudentForm.css */

body {
  font-family: Arial, sans-serif;
}

.student-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b3e9ee;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #333;
}

.student-form input,
.student-form select {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.student-form button {
  width: 50%;
  padding: 10px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.student-form button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
